.action-card {
  width: 360px;
  margin-right: 20px;
}

.mat-card-content{
  padding-top:20px;
  font-size: 1.07rem;
}

.header-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textarea-wrapper{
  width: 100%;
}
